<ion-view title="Home" hide-nav-bar="true" id="page1">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <h1 id="home-heading1" style="color:#000000;text-align:center;">বদনজরের রুকইয়াহ</h1>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <div id="home-container2">
      <ion-list id="home-list2">
        <ion-item class="item-divider b" id="home-list-item-divider1"> সূচনা</ion-item>
        <ion-item class="item-icon-left" id="home-list-item8" ui-sref="page2()">
          <i class="icon ion-ios-book-outline"></i>বদনজর সত্য</ion-item>
        <ion-item class="item-icon-left" id="home-list-item20" ui-sref="page3()">
          <i class="icon ion-ios-book-outline"></i>আক্রান্ত হওয়ার লক্ষণ</ion-item>
        <ion-item class="item-icon-left dark" id="home-list-item7" href-inappbrowser="https://ruqyahbd.org/blog/602/introduction">
          <i class="icon ion-android-globe"></i>রুকইয়াহ কি?
          <ion-option-button class="button-positive">অনলাইনে পড়ুন</ion-option-button>
        </ion-item>
      </ion-list>
    </div>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <ion-list id="home-list4">
      <ion-item class="item-divider b" id="home-list-item-divider2"> রুকইয়ার নিয়ম</ion-item>
    </ion-list>
    <ion-list id="home-list5">
      <ion-item class="item-icon-left" id="home-list-item13" ui-sref="page4()">
        <i class="icon ion-ios-book-outline"></i>নজরের প্রথম চিকিৎসা পদ্ধতি</ion-item>
      <ion-item class="item-icon-left" id="home-list-item14" ui-sref="page5()">
        <i class="icon ion-ios-book-outline"></i>রুকইয়ার দ্বিতীয় নিয়ম</ion-item>
      <ion-item class="item-icon-left" id="home-list-item18" ui-sref="page6()">
        <i class="icon ion-ios-book-outline"></i>৩য় এবং ৪র্থ পদ্ধতি</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <ion-list id="home-list6">
      <ion-item class="item-divider b" id="home-list-item-divider3"> প্রয়োজনীয় লিংক</ion-item>
    </ion-list>
    <ion-list id="home-list7">
      <ion-item class="item-icon-left" id="home-list-item24" href-inappbrowser="https://ruqyahbd.org/blog/442/evileye-protection">
        <i class="icon ion-android-globe"></i>নজর থেকে বাঁচবেন যেভাবে</ion-item>
      <ion-item class="item-icon-left dark" id="home-list-item21" href-inappbrowser="https://facebook.com/groups/ruqyahbd">
        <i class="icon ion-android-globe"></i>রুকইয়াহ সাপোর্ট গ্রুপ
        <ion-option-button class="button-positive">ফেসবুকে দেখুন</ion-option-button>
      </ion-item>
      <ion-item class="item-icon-left dark" id="home-list-item22" href-inappbrowser="https://bit.ly/ruqyahbd-playstore">
        <i class="icon ion-android-playstore"></i>আমাদের অন্যান্য এপগুলো দেখুন
        <ion-option-button class="button-positive">গুগল প্লে স্টোরে</ion-option-button>
      </ion-item>
    </ion-list>
    <ion-list id="home-list9">
      <ion-item class="item-icon-left" id="home-list-item9" href-inappbrowser="https://ruqyahbd.org/">
        <i class="icon ion-android-globe"></i>রুকইয়াহ সাপোর্ট বিডি হোমপেজ
        <ion-option-button class="button-positive">ভিজিট করুন</ion-option-button>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <div id="home-markdown8" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>www.ruqyahbd.org</strong>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
  </ion-content>
</ion-view>