
<html>
<body>
    <div class="container">
        <h1>বদনজর থেকে বাঁচার উপায়</h1>
        <ul>
            <li><span class="bold-point">নিয়ামত গোপন রাখা:</span> নিজের সাফল্য বা সম্পদ অন্যের কাছে অপ্রয়োজনীয়ভাবে প্রকাশ না করা।</li>
            <li><span class="bold-point">আল্লাহর নাম স্মরণ করা:</span>নিজের কোনো কিছু দেখে মুগ্ধ হলে 'মা-শা-আল্লাহ' বা 'বারাকাল্লাহ' বলা। </li>
            <li><span class="bold-point">প্রশংসার সময় সচেতন থাকা:</span> অন্যের জিনিস দেখে ভাল লাগলে বরকতের দোয়া করা। কেউ আপনার প্রশংসা করে আল্লাহর নাম না বললেও নিজে বলা, আলহামদুলিল্লাহ।</li>
            <li><span class="bold-point">বেশি বেশি সালামের প্রচলন:</span> এর মাধ্যমে হিংসা দূর হয়।</li>
			<li><span class="bold-point">ইসলামের পর্দার বিধান মেনে চলা:</span> সঠিকভাবে পর্দা করা এমনিতেও ফরজ। বদনজর থেকে বাচতেও জরুরি।</li>
            <li><span class="bold-point">বিশেষ দু'আ পড়া:</span> বদনজর থেকে বাঁচার জন্য আল্লাহর কাছে পানাহ চাওয়া উচিত। এই দু'আটি পাঠ করা যায় - </li>
			<arabic>     أَعُوذُ بِكَلِمَاتِ اللّٰه ِ التَّامَّةِ ، مِنْ كُلِّ شَيْطَانٍ وَهَامَّةٍ ، وَمِنْ كُلِّ عَيْنٍ لَامَّةٍ </arabic>
            <li><span class="bold-point">মাসনুন আমল করা:</span> গুরুত্বের সাথে প্রতিদিন সকাল-সন্ধ্যা এবং ঘুমের আগে নিরাপত্তার মাসনুন যিকর করা।</li>
			
        </ul>
    </div>
</body>
</body>
</html>

