<ion-view title="বদনজর সত্য" id="page2">
  <ion-content padding="true" class="has-header">
    <div id="page2-markdown7" class="show-list-numbers-and-dots">
      <h2>বদনজরের ব্যাপারে রাসূলুল্লাহ সল্লাল্লহু আলাইহি ওয়াসাল্লামের হাদীস:</h2>

      <p style="color:#000000;">
        <strong>১.</strong> রাসুলুল্লাহ সাল্লাল্লাহু আলাইহি ওয়াসাল্লাম বলেন: “বদনজর সত্য!” (বুখারি, মুসলিম)</p>

      <p style="color:#000000;">
        <strong>২.</strong> আব্দুল্লাহ ইবনে আব্বাস রা. থেকে বর্ণিত রাসুল সাল্লাল্লাহু আলাইহি ওয়া সাল্লাম বলেন: “বদনজর সত্য, ভাগ্যের চেয়েও আগে বেড়ে যায় এমন কিছু যদি থাকতো, তাহলে অবশ্যই সেটা হতো বদনজর! যদি তোমাদের বদনজরের জন্য গোসল করতে বলা হয় তবে গোসল করে নিও।
        (মুসলিম , মুসনাদে আহমাদ)</p>

      <p style="color:#000000;">
        <strong>৩.</strong> জাবের রা. থেকে বর্ণিত, রাসুল সাল্লাল্লাহু আলাইহি ওয়া সাল্লাম বলেন: “আল্লাহর ফায়সালা ও তাক্বদিরের পর, আমার উম্মতের সবচেয়ে বেশি মৃত্যু হবে বদনজরের কারণে!” (মুসনাদে আবু দাউদ)</p>

      <p style="color:#000000;">এছাড়া আরও অনেক বিশুদ্ধ হাদিসে বদনজরের সত্যতার ব্যাপারে স্পষ্ট দলিল পাওয়া যায়।</p>
    </div>
    <div class="spacer" style="height: 50px;"></div>
  </ion-content>
</ion-view>