<ion-view title="রুকইয়ার ৩য় ও ৪র্থ পদ্ধতি" id="page6">
  <ion-content padding="true" class="has-header">
    <div>
      <h2 style="text-align: center;">বদনজরের অন্যান্য রুকইয়াহ</h2>
      <p>পরিবারের অন্য কেউ বদনজর আক্রান্ত হলে আপনি কি করবেন? কিংবা যদি নজর লাগে আপনার ব্যবসা প্রতিষ্ঠানে? আপনার দোকানে, খামারে? ঘর-বাড়িতে? গাছে? বা অন্য কোথাও?
        <br>নিচে একে একে পদ্ধতিগুলো আলোচনা করা হল।</p>
      <hr>
      <p>
        <strong>৩য় পদ্ধতি:</strong>
      </p>
      <p>রোগীর মাথায় হাত রেখে এই দুয়াগুলো পড়বেন। এবং মাঝেমাঝে রোগীর গায়ে ফুঁ দিবেন, এভাবে কয়েকবার করবেন। নিজের সমস্যা থাকলে নিজের মাথায় বা বুকে হাত রেখেই পড়তে পারেন। অথবা পড়ার পর হাতে ফুঁ দিয়ে পুরা শরীরে হাত বুলিয়ে নিতে পারেন।</p>
      <blockquote>
        <p class="arab">أُعِيْذُكُمْ بِكَلِمَاتِ اللّٰهِ التَّامَّةِ ، مِنْ كُلِّ شَيْطَانٍ وَهَامَّةٍ ، وَمِنْ كُلِّ عَيْنٍ لَامَّةٍ</p>
      </blockquote>
      <p>উচ্চারণঃ উ"ঈযুকুম বিকালিমা-তিল্লা-হিত্তা-ম্মাহ। মিং কুল্লি শাইত্বা-নিও- ওয়াহা-ম্মাহ। ওয়ামিং কুল্লি "আঈনিল্লা-ম্মাহ।</p>
      <blockquote>
        <p class="arab">بِسْمِ اللَّهِ أَرْقِيكَ، مِنْ كُلِّ شَيْءٍ يُؤْذِيكَ، مِنْ شَرِّ كُلِّ نَفْسٍ أَوْ عَيْنِ حَاسِدٍ، اللَّهُ يَشْفِيكَ، بِسْمِ اللَّهِ أَرْقِيكَ</p>
      </blockquote>
      <p>উচ্চারণঃ বিসমিল্লা-হি আরকীক। মিং কুল্লি শাইয়িই ইউ'যীক। মিং শাররি কুল্লি নাফসিন আও "আইনি হাসিদ। আল্লা-হু ইয়াশফীক। বিসমিল্লা-হি আরকীক।</p>
      <blockquote>
        <p class="arab">بِاسْمِ اللَّهِ يُبْرِيكَ، وَمِنْ كُلِّ دَاءٍ يَشْفِيكَ، وَمِنْ شَرِّ حَاسِدٍ إِذَا حَسَدَ، وَشَرِّ كُلِّ ذِي عَيْنٍ</p>
      </blockquote>
      <p>উচ্চারণঃ বিসমিল্লা-হি ইউবরীক। ওয়ামিং কুল্লি দা-ঈই ইয়াশফীক। ওয়ামিং শাররি হাসিদিন ইযা- হাসাদ। ওয়া শাররি কুল্লি যী "আঈন ।</p>
      <blockquote>
        <p class="arab">اللَّهُمَّ رَبَّ النَّاسِ أَذْهِبِ الْبَاسَ، اشْفِ وَأَنْتَ الشَّافِي لَا شِفَاءَ إِلَّا شِفَاؤُكَ شِفَاءً لَا يُغَادِرُ سَقَمًامًا</p>
      </blockquote>
      <p>উচ্চারণঃ আল্লা-হুম্মা রাব্বান না-স। আযহিবিল বা'স । ইশফি ওয়াআংতাশ শা-ফী। লা-শিফাআ ইল্লা-শিফাউক। শিফাআল লা-ইউগা-দিরু সাক্বামা-।</p>
      <p>এরপর সুরা ফাতিহা এবং আয়াতুল কুরসি ১বার। এবং সুরা ইখলাস, ফালাক, নাস ৩ বার পড়বেন এরপর রুগীকে ফুঁ দিবেন। আর নিজের জন্য রুকইয়াহ করলে দুই হাতে ফুঁ দিয়ে পুরো শরীর মুছে নিবেন। চাইলে সুরা ফালাক নাস অনেকবার পুনরাবৃত্তি করতে পারেন, সবধরনের রুকইয়ায় এগুলো বিশেষভাবে
        উপকারী।</p>
      <p>সমস্যা বেশি হলে উল্লেখিত পদ্ধতিতে রুকইয়া করা শেষে, আরেকবার এগুলো পড়ে পানিতে ফুঁ দিয়ে প্রতিদিন খাবেন এবং গোসল করবেন। সমস্যা ভালো হওয়া পর্যন্ত প্রতিদিন করবেন এই দুটো কাজ। এছাড়া কোন অঙ্গে ব্যাথা থাকলে এসব দোয়া-কালাম পড়ে তেলে ফুঁ দিয়ে প্রতিদিন মালিশ
        করতে পারেন।
        <br>বদনজর আক্রান্ত কারো কারো ওপর রুকইয়া করতে চাইলে এই পদ্ধতিটা অনুসরণ করা উচিত। অনুরূপভাবে ছোট বাচ্চাদের বিবিধ সমস্যা / রোগবালাইয়ের জন্য রুকইয়া করতে চাইলেও এটা অনুসরণ করা যায়।</p>
      <hr>
      <p>
        <strong>৪র্থ পদ্ধতি:</strong>
      </p>
      <p>যদি কোনো গাছ, খামার, দোকান, ব্যবসা প্রতিষ্ঠান অথবা বাড়িতে নজর লাগে তাহলে উপরের দু'আ এবং কোরআনের আয়াতগুলো পড়ে পানিতে ফুঁ দিবেন, এরপর ওই পানিটা গাছে, ঘরে অথবা দোকানে ছিটিয়ে দিবেন। গৃহপালিত পশুপাখির ওপর নজর লাগলে তাদের মাথায় হাত রেখে এসব পড়তে পারেন,
        কিংবা কোন খাদ্যের ওপর এসব পড়ে ফুঁ দিয়ে খাইয়ে দিতে পারেন।
        <br> তাহলে ইনশাআল্লাহ বদনজর নষ্ট হয়ে যাবে। প্রয়োজনে এভাবে পরপর কয়েকদিন রুকইয়াহ করার পাশাপাশি নিজের জন্যও রুকইয়াহ করুন।</p>
    </div>
    <div class="spacer" style="height: 50px;"></div>
  </ion-content>
</ion-view>