<ion-view title="আক্রান্ত হওয়ার লক্ষণ" id="page3">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
      </p>
      <h2>
        <strong>বদনজর আক্রান্ত হওয়ার লক্ষণ:</strong>
      </h2>
      <p>১। শরীরে জ্বর থাকা, কিন্তু থার্মোমিটারে না উঠা।
        <br>২। কোনো কারণ ছাড়াই কান্না আসা..
        <br>৩। প্রায়সময় কাজে মন না বসা, নামায - যিকর - ক্লাসে মন না বসা।
        <br>৪। প্রায়শই শরীর দুর্বল থাকা, ক্ষুধামন্দা, বমি বমি ভাব লাগা।
        <br>৫। চেহারা ধুসর বা হলুদ হয়ে যাওয়া।
        <br>৬। বুক ধড়পড় করা, দমবন্ধ বা অস্বস্তি লাগা।
        <br>৭। অহেতুক মেজাজ বিগড়ে থাকা।
        <br>৮। আত্মীয়-স্বজন বা বন্ধুদের সাথে দেখা হলেই ভালো না লাগা।
        <br>৯। অতিরিক্ত চুল পড়া। শ্যাম্পুতে কাজ না করা।
        <br>১০। পেটে প্রচুর গ্যাস হওয়া।
        <br>১১। বিভিন্ন অসুখ লেগে থাকা যা দীর্ঘদিন চিকিৎসাতেও ভালো না হওয়া।
        <br>১২। পুরো শরীরে ব্যাথা দৌড়ে বেড়ানো।
        <br>১৩। ব্যবসায় ঝামেলা লেগে থাকা।
        <br>১৪। আপনি যে কাজে অভিজ্ঞ সেটা করতে গেলেই অসুস্থ হয়ে যাওয়া।</p>
      <p>
        <b>জ্বিনের নজরের ক্ষেত্রে আরও কিছু সমস্যা দেখা যায়, যেমন:</b>
        <br>১. রাতে ঠিকমত ঘুম না হওয়া, বারবার ঘুম ভেঙে যাওয়া।
        <br>২. কোন কারণ ছাড়া প্রায়শ ভয়ভয় লাগা, ছায়া চলাচল করতে দেখা।
        <br>৩. ওয়াসওয়াসার সমস্যা ও শুচিবাই বেড়ে যাওয়া। ইত্যাদি...
        <br>
      </p>
      <p>&nbsp;</p>
      <p></p>
    </div>
  </ion-content>
</ion-view>