<ion-view title="বদনজরের প্রথম চিকিৎসা" id="page4">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <strong>১ম পদ্ধতি:</strong>
        <br> যদি জানা যায় কার নজর লেগেছে তাহলে সাহল ইবনে হুনাইফ রা. এর হাদিসটা অনুসরণ করলেই হবে।</p>
      <hr>
      <p>“সাহল ইবনে হুনাইফ রাযি. কোথাও গোসলের জন্য জামা খুলেছিলেন। উনি বেশ সুঠাম দেহের অধিকারী ছিলেন। বদরী সাহাবী আমির ইবনে রবী’আ রাযি. তাঁকে দেখতে পেয়ে বললেন, এতো সুন্দর মানুষ আমি জীবনে দেখিনি। এমনকি এত সুন্দর কোন যুবতীকেও দেখিনি। আমির রাযি. কথাটা বলার
        পরপরই সাহাল রাযি. সেখানে বেহুশ হয় পড়ে গেলেন। তাঁর গায়ে জ্বর চলে আসলো। মারাত্মক জ্বরে ছটফট করতে লাগলেন হযরত সাহাল রাযি.। অন্য সাহাবিরা রাসূল সা. কে জানালেন, সংবাদ পেয়ে হুযুর সাল্লাল্লাহু আলাইহি ওয়া সাল্লাম অবস্থা দেখতে আসলেন। সাহল রাযি. কে হঠাৎ
        করে এমনটা হবার কারণ জিজ্ঞেস করলে তিনি ঘটনাটা খুলে বললেন। রাসুলুল্লাহ সাল্লাল্লাহু আলাইহি ওয়া সাল্লাম তখন বললেন: “তোমরা কেন তোমাদের ভাইকে নজর দিয়ে হত্যা করছো?” আমির ইবনে রবী’আকে ডেকে বললেন: “তুমি যখন তাকে দেখলে, তখন আরো বরকতের দু’আ কেন করলেনা?
        বারাকাল্লাহ কেন বললে না?” (অর্থাৎ দুয়া করলে নজর লাগতো না) এরপর প্রিয় নবী সাল্লাল্লাহু আলাইহি ওয়া সাল্লাম তখন আমির রাযি. কে বললেন: অজু কর! আমির রাযি. অজু করলেন। অতঃপর নবীজি সাল্লাল্লাহু আলাইহি ওয়া সাল্লাম- এর নির্দেশে অযুর পানি সাহল এর গায়ে ঢেলে
        দিলেন। আল্লাহর রহমতে কিছুক্ষণের মধ্যেই তিনি সুস্থ হয়ে উঠলেন।” (মুয়াত্তা মালেক, মুসনাদে আহমাদ, নাসাঈ)</p>
      <hr>
      <p>অর্থাৎ যার নজর লেগেছে তাকে অযু করতে বলবে, অযুর পানিগুলো একটা পাত্রে জমা করবে, এরপর সেটা আক্রান্ত ব্যাক্তির গায়ে ঢেলে দিবে। তাহলেই নজর কেটে যাবে ইনশাআল্লাহ।</p>
      <p>এই পদ্ধতিতে সাধারণ একবারেই বদনজরের প্রভাব দূর হয়ে যায়। তবেঁ, প্রয়োজনে ২-৩দিন করা লাগতে পারে। আর হ্যাঁ! অনেকের ক্ষেত্রে এই ওযু করার পানি ঢালার পর, প্রচণ্ড পায়খানা বা প্রসাবের বেগ আসে, সেটা হয়ে গেলে আলহামদুলিল্লাহ সুস্থ হয়ে যায়।</p>
      <p>প্রশ্ন হচ্ছে, কুলির পানিও কি জমা করবে?</p>
      <p>উত্তরঃ যদিওবা এক হাদিসে আছে কুলির কথা, তবে না নিলেও সমস্যা নেই। এমনকি অধিকাংশের ক্ষেত্রে শুধুমাত্র একজনের হাতমুখ ধোয়া পানি নিয়ে অপরজন হাতমুখ ধৌত করলেই বদনজর নষ্ট হয়ে যায়।</p>
      <b>আরও কিছু বিষয়:</b>
      <p>১. যদি নিজের নজর নিজেকেই লাগে তাহলে ওযু করবে, এবং পানিগুলো জমা করবে, এরপর সেটা নিজের গায়ে ঢালবে।</p>
      <p>২. এই পদ্ধতি বাচ্চা-বয়স্ক, ছেলে-মেয়ে সবার জন্য।</p>
      <p>৩. বাচ্চাদের ক্ষেত্রে যদি জানা না যায় কার নজর লেগেছে তাহলে পরবর্তিতে বলা কোনো পদ্ধতি ফলো করতে হবে।</p>
    </div>
    <div class="spacer" style="height: 50px;"></div>
  </ion-content>
</ion-view>